<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Amazing App to help you find nearest MBTA station</title>
    </head>
    <body>
        <h1>Hello, this page is asking for location input</h1>
        <form method='POST' name="MBTA">
            <p>
                Please enter a place name:<input type='text' name='location' placeholder="e.g. Newbury Street,Boston">
            </p>
            <p>
                <input type='submit' value='Get Results Now'>
            </p>
        </form>
    </body>
</html>