<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing app to help you find nearest MBTA station</title>
</head>

<body>
    <form method="POST" name="location">
        <h1 style="text-align: center; color: blue;">Hello, this page is asking for location input</h1>
        <p style="text-align: center;">
            Please enter a place name:<input type='text' name='location' placeholder="e.g. Newbury Street,Boston">
        </p>
        <p style="text-align: center;">
            <input type='submit'>
        </p>
    </form>
</body>
</html>